/* ====== Logo ====== */
.play-logo {
  width: 160px;
  height: auto;
}

/* ====== Links ====== */
.nav-link {
  color: #666;
  font-weight: 500;
  font-size: 14px;
  font-family: "Google Sans", "Roboto", sans-serif;
  position: relative;
  text-decoration: none;
  transition: color 0.25s ease;
}

.nav-link:hover {
  color: #000;
  cursor: pointer;
}

.nav-link.active {
  color: #34a853;
  text-decoration: underline;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #34a853;
  transition: width 0.25s ease;
}

/* ====== Botones de ícono ====== */
.btn-icon {
  color: #444;
  transition: all 0.2s ease;
}

.btn-icon:hover {
  color: #1a73e8;
  background-color: rgba(26, 115, 232, 0.1) !important;
  cursor: pointer;
}

/* ====== Responsive ====== */


@media (max-width: 768px) {
  .play-logo {
    width: 140px;
  }
}