<div class="about-container">

  <header class="about-header">
    <nav class="navbar">
      <ul class="nav-links">
        <li><a href="/">Inicio</a></li>
        <li><a href="/contact">Contacto</a></li>
        <li><a href="/about">Sobre nosotros</a></li>
      </ul>
    </nav>
    <h1>Conoce cómo nace Paradise Resorts</h1>
        <p>Nuestros Orígenes</p>
  </header>

  <main class="about-main">
    <div class="about-content">
      <img src="assets/paradiseresortsaboutus.png" alt="Paradise Resorts paisaje" class="about-image" />
      <div class="about-text">
        <h2>Nuestra historia</h2>
        <p>
          Paradise Resorts nació con la idea de crear varios hoteles que permitan a las familias o viajeros disfrutar de lo mejor de la comodidad tanto fuera como dentro del hotel.
          Desde nuestros inicios, hemos buscado brindar experiencias inolvidables a nuestros visitantes, combinando
          lujo, atención personalizada y el entorno natural más bello, al estilo tropical.
        </p>
        <p>
          Nuestro compromiso es ofrecer un servicio excepcional, cuidando cada detalle para que tu estadía sea
          perfecta y llena de momentos memorables.
        </p>
      </div>
    </div>
  </main>
   <footer class="about-footer">
    <p>&copy; 2025 Paradise Resort. Todos los derechos reservados.</p>
  </footer>

</div>
